html, body {
    box-sizing: border-box;
}
img, video {
    max-width: 100%;
    height: auto;
    border: none;
}

.navbar-menu {
    margin-left: 25%;
}

.navbar-menu a {
    border: 1px solid grey;
    margin: 0 10px;
    color: white;
    font-weight: 600;
}

.hero-text {
    padding: 200px 0;
}

.hero-text h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.hero-text p {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
}

section.main {
    
}

.options {
    padding: 0 15px;
    padding-top: 70px;
}

.description {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.services {
    padding: 30px 20px;
}

.story {
    margin: 0 20px;
}

.contact {
    padding: 1.5rem;
    padding-bottom: 60px;
}

.social ul {
    margin-bottom: 10px;
}

.social span {
    margin: 0 20px;
}